<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwRyW6aJZzw7C4NKEpnaLCou1hIAq-BAk</string>
	<key>GCM_SENDER_ID</key>
	<string>606227473656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FilipTunega.iClosetApp</string>
	<key>PROJECT_ID</key>
	<string>iclosetauth</string>
	<key>STORAGE_BUCKET</key>
	<string>iclosetauth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606227473656:ios:9ad56f7e9be1f16ca8070d</string>
</dict>
</plist>